.test {
  border: 1px solid red;
}
/* 전체 페이지를 Flexbox로 정렬 */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* 헤더 스타일 */
header {
  position: sticky;
  top: 0;
  backdrop-filter: blur(50%);
  opacity: 1;
  z-index: 99;
  width: 100%;
}

/* 내비게이션 메뉴 */
nav {
  background-color: #223055;
  border-bottom: 0.5px solid #223055;
  z-index: 99;
}

nav:hover {
  border-bottom: 0.5px solid #949494;
  transition: 0.5s;
}

.navbar {
  background-color: #223055 !important;
  padding: 1em 2em;
}

/* 메뉴 항목 */
/* 햄버거 메뉴 스타일 */
.ham {
  position: absolute;
  right: 2%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 99;
  display: none; /* 모바일에서만 보이도록 설정 */
}

.line {
  background-color: #fff;
  width: 40px;
  height: 2px;
  margin: 5px 0;
  transition-duration: 0.5s;
}

/* 햄버거 버튼 클릭 시 애니메이션 효과 */
.ham.active #top {
  transform: translateY(7px) translateX(-7px) rotate(45deg);
}

.ham.active #mid {
  opacity: 0;
}

.ham.active #btm {
  transform: translateY(-6px) translateX(-7px) rotate(-45deg);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-nav .nav-item {
  margin-right: 20px;
}

.navbar-nav .nav-item .dropdown-menu {
  display: none;
}

.nav-link {
  padding: 7px 14px;
  border-radius: 20px;
}

.nav-link:hover {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 7px 14px;
}

.nav-link img {
  position: relative;
  left: -5px;
  top: -4px;
}

/* 서브 메뉴가 기본적으로 보이지 않도록 설정 */
.navbar-nav .nav-item .dropdown-menu {
    display: none;
    /* 서브 메뉴 숨기기 */
    position: absolute;
    /* 서브 메뉴가 부모 메뉴 아이템 아래에 위치하도록 설정 */
    background-color: #223055;
    padding: 0;
    top: 100%;
    /* 부모 메뉴 아래로 위치 */
    left: 50%;
    transform: translateX(-50%);
    /* 드롭다운 메뉴에 그림자 효과 */
  }
  /* 메뉴 항목에 호버 시 서브 메뉴가 보이도록 설정 */
  .navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
    /* 호버 시 드롭다운 메뉴 표시 */
  }
  /* 드롭다운 항목 스타일 */
  .navbar-nav .nav-item .dropdown-item {
    color: #BEBEBE;
    padding: 10px 20px;
    font-size: 16px;
    text-align: left;
  }
  .navbar-nav .nav-item .dropdown-item:hover {
    background-color: #FFB7CA;
    /* 서브 메뉴 항목에 호버 시 배경 색상 변경 */
    color: white;
  }

/* main을 플렉스 확장해서 푸터를 아래로 밀어내기 */
main {
  flex: 1;
}
/* ---------------------------------------------------------------------------------- */

.sy-artist {
  margin: 15px;
}

.sy-artist img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  object-fit: cover;
}

.sy-artist img:hover {
  filter: brightness(0.5);
  transform: scale(0.95);
}

.sy-box {
  position: relative;
/*------------------------ KM 수정한 부분 --------------------------------*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto; /
/*------------------------ KM 수정한 부분 --------------------------------*/
}

.sy-box:hover .sy-overlay {
  display: block;
}

.sy-link {
  display: block;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none; /* 링크 밑줄 제거 */
}

.sy-link img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지 비율 유지하면서 꽉 채우기 */
}

.sy-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  display: none;
}

.sy-more-artist {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  font-size: 20px;
  font-weight: 700;
}

/*------------------------ KM 수정한 부분 --------------------------------*/
.sy-more-artist a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  gap: 15px;
  /* 텍스트와 아이콘 사이 간격 */
  position: relative;
  font-weight: bold;
  transition: transform 0.3s ease, color 0.3s ease;
}

.sy-more-artist a:hover {
  transform: scale(1.1);
  background: linear-gradient(90deg, #FFB7CA, #D67D92, #915E8B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*------------------------ KM 수정한 부분 --------------------------------*/
/* 모바일 화면 대응 */
@media (max-width: 768px) {
  .sy-first-line .col,
  .sy-second-line .col {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .sy-second-line .row .col {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .sy-more-artist {
    display: none;
  }
}
/* ---------------------------------------------------------------------------------- */

/* 푸터 스타일 */
.footer {
  background-color: #fce1e8;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* 푸터 컨테이너 크기 조정 */
.km-footer-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/* 로고 크기 확대 */
.km-logo {
  width: 400px; /* 기존보다 확대 */
  margin: 30px;
  margin-left: 50px;
}

.km-logo-small {
  display: none;
}

/* 로고 이미지 크기 조정 */
.km-logo img {
  width: 100%;
  height: auto;
}

.km-about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  font-size: 18px;
  margin: 20px;
  margin-bottom: 5px;
}

.km-about a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: transform 0.3s ease, color 0.3s ease;
}

.km-about a:hover {
  transform: scale(1.15);
  color: white;
}

.km-about span {
  color: black;
  font-size: 18px;
}

/* SNS 아이콘 스타일 */
.km-icon-left {
  display: flex;
  gap: 50px;
  font-size: 28px;
  color: black;
  margin-left: 35px;
}

.km-icon-left a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 색상 상속 */
  display: flex; /* a 태그가 i 태그를 감싸도 flex 유지 */
  align-items: center;
  justify-content: center;
}

.km-icon-left i {
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.km-icon-left a:hover i{
  color: white;
}

/* 마지막 줄 정렬 */
.km-last-lign {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.km-culture-future {
  display: none;
}


/* 맨 위로 가는 버튼 스타일 */

.km-scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #ffb7ca; /* 버튼 색상 */
  color: white;
  border: none;
  border-radius: 50%;
  display: none; /* 기본적으로 숨김 */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  font-size: 24px;
}

.km-scroll-to-top:hover {
  background-color: #d67d92; /* 호버 시 색상 변경 */
  transform: scale(1.1);
}





/* ----------------------------------------------------------------------- */

.fade-wrap {
  transition: 1s;
  opacity: 0;
  position: relative;
  bottom: -50px;
}

.fade-wrap.fade-in {
  opacity: 1;
  bottom: 0;
}

.sm-header {
  padding: 30px 60px;
  font-size: 80px;
}

.choi-main-img-box {
  background-color: #223055;
  min-height: 840px;
  overflow: hidden;
  position: relative;
}

.choi-main-back-img {
  background-image: url(https://cdn2.smentertainment.com/images/sm-hero-image.svg);
  width: 80%;
  height: 80%;
  position: absolute;
  left: 25%;
  bottom: -10%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.choi-main-title {
  color: #ffb7ca;
  font-size: 100px;
  padding: 60px;
  position: absolute;
}

.choi-main-news-box {
  background-color: #ffb7ca;
}

.choi-main-news {
  padding-top: 48px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  font-size: 80px;
}

.choi-main-news-card-box {
  background-color: #ffb7ca;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.choi-main-news-item-box {
  padding: 30px 24px;
}

.choi-main-news-item-box h3 {
  margin-bottom: 30px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.choi-main-news-item-box p {
  margin: 15px 0px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.choi-main-news-item-bottom-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.choi-main-news-item-bottom-box p {
  margin-bottom: 0px;
}

.choi-main-new-arrow {
  font-size: 30px;
  border: 1px solid black;
  border-radius: 100%;
  padding: 0px 8px;
}

.choi-history-nav-box {
  margin-top: 78px;
}

.choi-history-nav {
  padding: 24px;
  border-top: 3px solid black;
  border-bottom: 1px solid black;
}

.choi-radio-nav:checked + label {
  border: none;
  color: black;
}

.choi-radio-nav:click {
  border: none;
}

.choi-radio-nav {
  display: none;
}

.choi-radio-nav-label {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 20px;
  font-weight: 500;
  color: #b0b7c0;
  font-size: 15px;
}

.choi-history-nav-link:hover {
  color: black;
}

.choi-history-main-box-out {
  padding: 1px;
  height: auto;
}

.choi-history-main-box {
  width: 70%;
  padding: 90px 60px;
  margin-left: auto;
}

.choi-history-main-box img {
  max-width: 100%;
  height: auto;
}

.choi-history-contents-out-box {
  padding-top: 40px;
  padding-bottom: 60px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid black;
}

.choi-history-contents-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.choi-history-contents-last-box {
  padding-bottom: 0px;
}

.choi-history-year-box {
  width: 30%;
}

.choi-history-detail-box {
  width: 70%;
}

.choi-history-contents-box h1 {
  color: #f2f2f2;
  font-size: 80px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.choi-history-contents-box h1:hover {
  color: #ffb7ca;
  transform: scale(1.15);
}

.choi-history-detail-box h4 {
  font-size: 20px;
  padding-top: 24px;
  padding-bottom: 8px;
  margin-bottom: 0px;
}

.choi-history-detail-box p {
  margin-bottom: 0px;
  font-size: 15px;
}

.choi-history-detail-sub {
  font-size: 20px;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 8px;
}

.choi-thick-line {
  border-top: 3px solid black;
}

.choi-thick-line-mobile-remove {
  border-top: 3px solid black;
}

.choi-thin-line {
  border-bottom: 1px solid black;
}

.choi-major-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.choi-major-contents-box {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 90px;
}

.choi-major-contents-box a {
  max-width: 45%;
  text-align: center;
  border-radius: 70px;
  background-color: #f2f2f2;
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  padding: 14px 24px;
  position: absolute;
  bottom: 30px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.choi-major-contents-box p {
  margin: 15px 0px;
}

.choi-major-contents-box a:hover {
  background-color: #d7d6d6;
  transform: scale(1.15);
}

.choi-history-main-box video {
  width: 100%;
}

.choi-intro-contents-box {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-top: 40px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 60px;
}

.choi-intro-contents-box h2 {
  margin-bottom: 30px;
  font-size: 36px;
}

.choi-intro-contents-box p {
  margin-top: 15px;
  font-size: 15px;
  margin-bottom: 0px;
}

.choi-schedule-title {
  display: flex;
  justify-content: space-between;
}

.choi-schedule-title button {
  background-color: transparent;
  border: none;
}

.choi-schedule-title i {
  font-size: 40px;
  margin-left: 40px;
}

.choi-schedule-inner-box {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.choi-schedule-calendar-box {
  width: 60%;
  margin-right: 20px;
}

.choi-schedule-box {
  width: 40%;
}

.choi-schedule-grid-box {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style-type: none;
  text-align: center;
  padding-left: 0px;
  margin-left: 0px;
}

.choi-schedule-grid-box li {
  list-style-type: none;
  padding: 10px 0px;
}

.choi-schedule-grid-box span {
  display: inline-block;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.choi-schedule-grid-box span:not(:empty):hover {
  transform: scale(1.15);
  background-color: #ffb7ca;
  color: white;
}

/* 모바일에서 햄버거 메뉴 보이게 설정 */
@media (max-width: 992px) {
  .navbar-toggler {
    position: relative;
    height: 35px;
    width: 40px;
  }

  .navbar-dark .navbar-toggler {
    border: none;
  }

  button:focus {
    border: none;
    outline: none;
  }
  .ham {
    display: block;
    position: absolute;
    top: 4px;
    left: 5px;
  }

  /* 햄버거 버튼 스타일 */
  .line {
    background-color: #fff;
    width: 25px;
    height: 2px;
    margin: 5px 0;
  }

  /* 모바일 사이드바 스타일 */
  #sidebar {
    height: 100vh;
    background-color: #223055;
    position: fixed;
    top: 110px;
    right: -100%;
    z-index: 98;
    transition: right 0.3s ease;
  }

  #sidebar.act {
    right: 0;
    top: 110px;
  }

  /* 내비게이션 메뉴 */

  .navbar-brand > img {
    width: 60px;
  }

  .navbar-collapse {
    background-color: #223055;
  }

  .navbar-nav .nav-item {
    margin-top: 20px;
  }

  .nav-item > a {
    font-size: 20px;
    font-weight: 700;
  }

  .active {
    padding-left: 5px;
  }

  .nav-item > a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .navbar-nav {
    display: flex;
  }

  .nav-item {
    width: 45%;
  }

  .navbar-nav {
    flex-wrap: wrap;
    flex-direction: unset;
  }

  .navbar-nav .nav-item .dropdown-menu {
    display: block;
  /* 서브 메뉴 항상 보이도록 설정 */
  width: 100%;
  /* 화면 너비를 꽉 채우도록 설정 */
  background-color: #223055;
  border: none;
  box-sizing: border-box;
  position: unset;
  left: 0;
  transform: translateX(0);
  box-shadow: none;
  padding: 0;
  top: 100%;
  /* 부모 메뉴 아래로 위치 */
  }

  .navbar-nav .nav-item .dropdown-item {
    font-size: 0.95em;
    padding: 5px 0;
    color: #bebebe;
    text-align: left;
  }

  .navbar-nav .nav-item .dropdown-item:hover {
    padding: 5px 0;
    background-color: #223055;
  }

  .dropdown-menu {
    top: 0;
  }

  .nav-link {
    padding: 5px 0;
  }

  .nav-link:hover {
    border-radius: 0px;
    background-color: none;
    padding: 5px 0;
  }

  .choi-schedule-span-before-js {
    color: black;
  }

  .choi-schedule-span-before-js:not(:empty):hover {
    color: white;
  }

  .choi-schedule-span-after-js {
    color: #ffb7ca;
  }

  .choi-schedule-span-after-js:not(:empty):hover {
    color: white;
  }

}

.choi-schdule-date-box {
  width: 20%;
}

.choi-schdule-contents-box {
  width: 80%;
}

  @media (max-width: 1200px) {
    .sm-header {
      font-size: 60px;
      padding: 30px 40px;
    }

    .choi-main-title {
      font-size: 90px;
      padding: 40px;
    }

    .choi-main-news {
      padding-top: 32px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 30px;
      font-size: 60px;
    }

    .choi-intro-contents-box h2 {
      font-size: 30px;
    }

    .choi-intro-contents-box p {
      margin-top: 14px;
      font-size: 14px;
    }

    .choi-history-main-box {
      width: 100%;
      padding: 45px 30px;
    }

    .choi-history-nav-box {
      margin-top: 52px;
    }

    .choi-history-nav {
      padding: 20px;
    }

    .choi-history-nav-link {
      font-size: 14px;
    }

    .choi-history-contents-out-box {
      padding-top: 30px;
      padding-bottom: 40px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .choi-history-contents-box {
      padding-bottom: 40px;
    }

    .choi-history-contents-last-box {
      padding-bottom: 0px;
    }

    .choi-history-contents-box h1 {
      font-size: 60px;
    }

    .choi-history-detail-box h4 {
      font-size: 18px;
      padding-top: 20px;
      padding-bottom: 8px;
    }

    .choi-history-detail-box p {
      font-size: 14px;
    }

    .choi-history-detail-sub {
      padding-top: 20px;
      font-size: 18px;
    }
  }

  /* 반응형 스타일 */
  @media (max-width: 783px) {
    .km-logo-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: -35px;
      margin-top: -37px;
    }

    /* 로고 크기 줄이기 */
    .km-logo {
      display: none;
    }
    .km-logo-small {
      display: block;
      width: 118px;
      margin: 30px;
    }

    /* 링크 크기 조정 */
    .km-about {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-size: 15px;
      gap: 10px;
      margin: 50px;
    }

    .km-about span {
      display: none;
    }

    /* 마지막 줄 정렬 */
    .km-last-lign {
      flex-direction: column;
      text-align: center;
    }

    .km-icon-left {
      justify-content: center;
    }

    .km-icon-right {
      text-align: center;
      margin-top: 30px;
    }

    .km-culture-future {
      display: block;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 5px;
    }

    .sm-header {
      font-size: 34px;
      padding: 20px 30px;
    }

    .choi-main-title {
      font-size: 60px;
      padding: 30px;
    }

    .choi-main-back-img {
      width: 90%;
      left: 15%;
    }

    .choi-main-img-box {
      min-height: 540px;
    }

    .choi-main-news {
      padding-top: 24px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 20px;
      font-size: 34px;
    }

    .choi-main-news-card-box {
      border: none;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
    }

    .choi-main-news-card-mobile-none {
      display: none;
    }

    .choi-radio-nav-label {
      padding-right: 10px;
      font-weight: 500;
      font-size: 13px;
    }

    .choi-major-grid {
      grid-template-columns: 1fr;
    }

    .choi-thick-line-mobile-remove {
      border-top: none;
    }

    .choi-intro-contents-box {
      padding-top: 24px;
      padding-left: 12px;
      padding-right: 12px;
      padding-bottom: 30px;
    }

    .choi-intro-contents-box h2 {
      font-size: 22px;
      margin-bottom: 20px;
    }

    .choi-history-nav-box {
      margin-top: 39px;
    }

    .choi-history-nav {
      padding: 12px;
    }

    .choi-history-contents-out-box {
      padding-top: 24px;
      padding-bottom: 30px;
      padding-left: 12px;
      padding-right: 12px;
    }

    .choi-history-contents-box {
      padding-bottom: 30px;
    }

    .choi-history-contents-box h1 {
      font-size: 34px;
    }

    .choi-history-detail-box h4 {
      font-size: 16px;
      padding-top: 6px;
      padding-bottom: 8px;
    }

    .choi-history-detail-sub{
      font-size: 16px;
    }

    .choi-major-contents-box {
      padding-left: 12px;
      padding-right: 12px;
      padding-bottom: 80px;
    }

    .choi-schedule-inner-box {
      display: block;
    }

    .choi-schedule-calendar-box {
      width: 100%;
      margin-right: 00px;
    }

    .choi-schedule-box {
      width: 100%;
      margin-top: 20px;
    }
  }

  @media (max-width: 576px) {
    .choi-main-title{
      font-size: 40px;
      padding: 10px;
    }

    .choi-main-img-box {
      min-height: 400px;
    }

    .choi-main-news-no-2-line{
      display: none;
    }
  }

/* newsroom */
.ms-news-item-container a,
.ms-news-item a,
.ms-list-item a,
.pagination a {
    color: inherit !important;
    text-decoration: none !important;
}

.ms-news-item-container a:-webkit-any-link,
.ms-news-item a:-webkit-any-link,
.ms-list-item a:-webkit-any-link,
.pagination a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.ms-newsroom-nav h1, .ms-newsroom-nav h2, .ms-newsroom-nav h3, .ms-newsroom-nav h4, .ms-newsroom-nav h5, .ms-newsroom-nav h6,
.ms-page-content h1, .ms-page-content h2, .ms-page-content h3, .ms-page-content h4, .ms-page-content h5, .ms-page-content h6 {
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
}

.ms-newsroom-nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px 60px;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    z-index: 90;
} 

.ms-page-title h1 {
    font-size: 80px;
    font-weight: 400;
    margin: 0;
}


.ms-page-title{
    transform: translate3d(0, -16px, 0);
}


.swiper-nav .nav-button--prev {
    background-image: url(https://cdn2.smentertainment.com/images/icon-arrow-left-big.svg);
    width: 80px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
}

.swiper-nav .nav-button--next {
    background-image: url(https://cdn2.smentertainment.com/images/icon-arrow-right-big.svg);
    background-size: cover; /* 이미지 크기를 조정 */
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    margin-left: 24px;
    display: inline-block;
}


.ms-page-content {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}


.ms-new-banner {
    padding: 30px 60px 0;
    margin-bottom: 60px;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden; 
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block; 
}

.swiper-horizontal {
    touch-action: pan-y; 
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}

.swiper-slide img {
    object-fit: cover; /* 이미지를 슬라이드 영역에 맞춤 */
    width: 100%;
    height: 100%;
  }

.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ms-news-item-container {
    position: relative;
    width: 100%;
    padding-top: 40%;
}


.ms-news-item-container a, .ms-news-item-container a > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}







.ms-news-item .ms-item-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px;
    z-index: 2;
}


.ms-item-thumbnail {
    z-index: 1;
}

.ms-news-item .ms-item-overlay .ms-title {
    max-width: 750px;
    word-break: keep-all;
}

.ms-news-item .ms-item-overlay .ms-date {
    font-weight: 500;
}

.ms-item-overlay h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.ms-news-item .ms-item-overlay .ms-title h2 {
    font-size: 50px;
}

.ms-news-item .ms-item-thumbnail img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.ms-news-item .ms-item-thumbnail {
    z-index: 1;
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.ms-featured-news .swiper-pagination {
    bottom: 60px;
    left: auto;
    right: 60px;
    width: auto;
}


.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
}


.swiper-pagination .swiper-pagination-bullet-active {
    background-color: rgba(255, 183, 202, 0.9);
    width: 40px;
}


.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .ms-swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
}


.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
    background: var(--swiper-pagination-bullet-inactive-color, #000);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: rgba(240, 240, 240, 0.7);
    border-radius: 2px;
    width: 12px;
    height: 4px;
    transition: width 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.swiper .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}






/* sm-section */

.ms-sm-section {
    justify-content: space-between;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 60px 20px; 
    max-width: 1800px;
    margin: 0 auto; /* 중앙 정렬 */
    box-sizing: border-box; /* padding 포함하도록 설정 */
    /* width: 100%; */
}


.ms-sm-section-inner {
    width: 100%;
    margin: 0 !important;
    position: relative;
}

.ms-company-banner {
    border-top: 3px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    position: relative;
    justify-content: center;
    text-align: center; 
    
}

.ms-company-banner .ms-banner-title {
    border-right: 1px solid #B0B7C0;
    padding-right: 20px;
    margin-right: 22px;
}

.ms-company-banner h5 {
    font-size: 25px;
    font-weight: 1000;
    line-height: 1.2;
    margin: 0;
    
}

.ms-company-news {
    flex: 1;
    height: 74px;
    padding-right: 40px;
}

.swiper-vertical {
    touch-action: pan-x;
}

.swiper-vertical>.swiper-wrapper {
    flex-direction: column;
}


.ms-company-news .ms-news-item a {
    display: flex;
    align-items: center;
    height: 72px;
    padding-right: 20px;
}

.ms-company-news .ms-news-item .ms-title {
    max-width: calc(100% - 70px);
}

.ms-company-news .ms-news-item .ms-title h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ms-company-news .ms-news-item .ms-date {
    margin-left: 24px;
    color: #B0B7C0;
    font-size: 0.9em;
}

.ms-company-news-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 9;
}

.ms-company-news-nav .nav-button--prev {
    background-image: url(https://cdn2.smentertainment.com/images/icon-arrow-up.svg);
}

.ms-company-news-nav .nav-button {
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 40px;
    height: 30px;
}

.ms-company-news-nav .nav-button--next {
    margin: 0;
    background-image: url(https://cdn2.smentertainment.com/images/icon-arrow-down.svg);
}

/* news-list */
.ms-news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.ms-news-list .ms-list-item {
    border-bottom: 1px solid #000;
    width: calc(50% - 15px);
    padding-bottom: 60px;
    margin-bottom: 60px;
}

.ms-news-list .ms-list-item .ms-item-thumbnail {
    background-color: #f7f7f7;
    background-image: url(https://cdn2.smentertainment.com/images/news-placeholder.png);
    background-size: contain;
    width: 100%;
    padding-top: 75%;
    position: relative;
}

.ms-news-list .ms-list-item .ms-item-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.ms-news-list .ms-list-item .ms-item-date {
    color: #B0B7C0;
    font-size: 0.9em;
    margin: 24px 0px 12px;
}

.ms-item-title h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
}


.ms-sm-section .pagination{
        margin-top: 0;
        display: flex;
        justify-content: center;
        gap: 4px;

}

.ms-sm-section .pagination ul{
    display: flex;
    align-items: center;
    height: 36px;
}

.ms-sm-section .pagination ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ms-sm-section .pagination ul li.is-active a {
    background-color: #FFE1E9;
}

.ms-sm-section .pagination ul li a {
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 1000;
    min-width: 36px;
    padding: 0 12px;
    height: 36px;
}

.ms-sm-section .pagination .ms-next-posts a {
    background-image: url(https://cdn2.smentertainment.com/images/icon-arrow-right.svg);
}

.ms-sm-section .pagination .ms-page-nav-button a {
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
}


/* max 1200px */
@media (max-width: 1200px) {
    body {
        font-size: 14px;
        --sm-header-height: 100px;
        --sm-container-width: 100%;
    }

    .ms-newsroom-nav{
        padding: 30px 40px;
    }

    .swiper-nav .nav-button--next {
        margin-left: 20px;
    }

    .ms-page-title h1 {
        font-size: 60px;
        transform: translateY(20px);

    }

    .ms-company-banner {
        margin-bottom: 30px;
    }

    .ms-company-banner h5{
        font-size: 16px;
    }

    .ms-new-banner{
        padding: 30px 40px 0;
        margin-bottom: 40px;
    }
    
    .ms-news-list .ms-list-item {
        padding-bottom: 40px;
        margin-bottom: 40px;
    }

    .ms-item-title h4{
        font-size: 18px;
    }

    .ms-sm-section {
        padding: 60px 40px;
        padding-top: 0;
    }
}


/* max 781px */
@media (max-width: 781px) {
    .ms-newsroom-nav{
        flex-direction: row;
        padding: 20px 30px;
    }

    .ms-page-title h1 { 
        font-size: 34px;
    }

    .ms-sm-section {
        padding: 45px 30px;
    }

    .swiper-nav .nav-button {
        width: 40px;
        height: 40px;
    }

    .ms-new-banner {
        padding: 20px 30px 0;
        margin-bottom: 30px;
    }

    .ms-news-item .ms-item-overlay {
        padding: 30px;
    }

    .ms-news-item-container {
        padding-top: 120%;
    }

    .ms-news-item .ms-item-overlay .ms-title h2 {
        font-size: 28px;
    }

    .ms-company-banner {
        margin-top: 0;
    }

    .ms-company-banner .ms-banner-title {
        display: none;
    }

    .ms-company-news {
        height: 54px;
    }

    .ms-company-banner h5 {
        font-size: 14px;
        font-weight: 600;
    }

    .ms-company-news .ms-news-item a {
        height: 52px;
    }

    .ms-company-news-nav {
        right: -4px;
    }

    .ms-news-list .ms-list-item {
        width: 100%;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    .ms-item-title h4{
        font-size: 16px;
    }

    .ms-news-list .ms-list-item .ms-item-date {
        margin: 12px 0 6px;
    }


}
